src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:splunk="http://www.mulesoft.org/schema/mule/splunk"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/splunk
        http://www.mulesoft.org/schema/mule/splunk/1.0.0-SNAPSHOT/mule-splunk.xsd ">

    <splunk:config host="localhost" port="8089"
                   username="admin" password="admin"/>

    <flow name="testGetApplication">
        <splunk:get-applications/>
    </flow>
    <flow name="testGetSavedSearches">
        <splunk:get-saved-searches/>
    </flow>
    <flow name="testCreateSavedSearch">
        <splunk:create-saved-search searchName="#[payload.searchName]" searchQuery="#[payload.searchQuery]"/>
    </flow>
    <flow name="testViewSavedSearch">
        <splunk:view-saved-search searchName="#[payload.searchName]"/>
    </flow>
    <flow name="testModifySavedSearch">
        <splunk:modify-saved-search searchName="#[payload.searchName]" description="#[payload.description]"
                                    isSetScheduled="#[payload.isSetScheduled]" cronSchedule="#[payload.cronSchedule]"/>
    </flow>
    <flow name="testGetSavedSearchHistory">
       <splunk:get-saved-search-history searchName="#[payload.searchName]"/>
    </flow>
</mule>
