src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:splunk="http://www.mulesoft.org/schema/mule/splunk" xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  version="EE-3.5.0"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:context="http://www.springframework.org/schema/context"
	  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/splunk http://www.mulesoft.org/schema/mule/splunk/current/mule-splunk.xsd
	    http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.5/mule-vm.xsd"
		>


	<context:property-placeholder location="${SPLUNK_CREDENTIALS}"/>

	<splunk:config port="${splunk.port}" username="${splunk.username}" host="${splunk.host}"
				   password="${splunk.password}" name="Splunk" doc:name="Splunk"></splunk:config>

	<flow name="get-applications" doc:name="GetApplications">
		<splunk:get-applications config-ref="Splunk"/>
	</flow>

	<flow name="get-jobs" doc:name="GetJobs">
		<splunk:get-jobs config-ref="Splunk"/>
	</flow>

	<flow name="run-blocking-search" doc:name="RunBlockingSearch">
		<splunk:run-blocking-search config-ref="Splunk" searchQuery="#[flowVars.searchQuery]">
			<splunk:search-args ref="#[flowVars.SearchArgsRef]"/>
		</splunk:run-blocking-search>
	</flow>

	<flow name="run-one-shot-search" doc:name="RunOneShotSearch">
		<splunk:run-one-shot-search config-ref="Splunk" searchQuery="#[flowVars.searchQuery]"
									earliestTime="#[flowVars.earliestTime]" latestTime="#[flowVars.latestTime]">
			<splunk:args ref="#[flowVars.args]"/>
		</splunk:run-one-shot-search>
	</flow>

	<flow name="get-saved-searches" doc:name="GetSavedSearches">
		<splunk:get-saved-searches config-ref="Splunk"/>
	</flow>

	<flow name="create-saved-search" doc:name="CreateSavedSearch">
		<splunk:create-saved-search config-ref="Splunk" searchName="#[flowVars.searchName]"
									searchQuery="#[flowVars.searchQuery]">
			<splunk:search-args ref="#[flowVars.SearchArgsRef]"/>
		</splunk:create-saved-search>
	</flow>

	<flow name="view-saved-search-properties" doc:name="ViewSavedSearchProperties">
		<splunk:view-saved-search-properties config-ref="Splunk" searchName="#[flowVars.searchName]"/>
	</flow>

	<flow name="modify-saved-search-properties" doc:name="ModifySavedSearchProperties">
		<splunk:modify-saved-search-properties config-ref="Splunk" searchName="#[flowVars.searchName]">
			<splunk:search-properties ref="#[flowVars.SearchPropertiesRef]"/>
		</splunk:modify-saved-search-properties>
	</flow>

	<flow name="get-saved-search-history" doc:name="GetSavedSearchHistory">
		<splunk:get-saved-search-history config-ref="Splunk"/>
	</flow>

	<flow name="run-saved-search" doc:name="RunSavedSearch">
		<splunk:run-saved-search config-ref="Splunk" searchName="#[flowVars.searchName]"/>
	</flow>

	<flow name="run-saved-search-with-arguments" doc:name="RunSavedSearchWithArguments">
		<splunk:run-saved-search-with-arguments config-ref="Splunk" searchName="#[flowVars.searchName]">
			<splunk:custom-args ref="#[flowVars.CustomArgsRef]"/>
			<splunk:search-dispatch-args ref="#[flowVars.SearchDispatchArgsRef]"/>
		</splunk:run-saved-search-with-arguments>
	</flow>

	<flow name="delete-saved-search" doc:name="DeleteSavedSearch">
		<splunk:delete-saved-search config-ref="Splunk" searchName="#[flowVars.searchName]"/>
	</flow>

	<flow name="get-data-model" doc:name="GetDataModel">
		<splunk:get-data-model config-ref="Splunk" dataModelName="#[flowVars.dataModelName]"/>
	</flow>

	<flow name="run-export-search" doc:name="RunExportSearch" initialState="stopped">
		<splunk:run-export-search config-ref="Splunk" searchQuery="search * | head 10" earliestTime="-20d"
								  latestTime="now"/>

		<vm:outbound-endpoint path="receive"/>
	</flow>


</mule>
