src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:splunk="http://www.mulesoft.org/schema/mule/splunk"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/splunk
        http://www.mulesoft.org/schema/mule/splunk/1.0.0-SNAPSHOT/mule-splunk.xsd ">

    <splunk:config host="192.168.1.33" port="8089"
                   username="admin" password="Wslph@123"/>

    <flow name="testGetApplication">
        <splunk:get-applications/>
    </flow>
    <flow name="testGetJobs">
        <splunk:get-jobs/>
    </flow>
    <flow name="testRunSearch">
        <splunk:run-search searchQuery="#[payload.searchQuery]" executionMode="#[payload.executionMode]"/>
    </flow>
    <flow name="testRunOneShotSearch">
        <splunk:run-one-shot-search searchQuery="#[payload.searchQuery]"
                                    earliestTime="#[payload.earliestTime]" latestTime="#[payload.latestTime]" />
    </flow>
    <flow name="testGetSavedSearches">
        <splunk:get-saved-searches/>
    </flow>
    <flow name="testCreateSavedSearch">
        <splunk:create-saved-search searchName="#[payload.searchName]" searchQuery="#[payload.searchQuery]"/>
    </flow>
    <flow name="testViewSavedSearch">
        <splunk:view-saved-search searchName="#[payload.searchName]"/>
    </flow>
    <flow name="testModifySavedSearch">
        <splunk:modify-saved-search searchName="#[payload.searchName]" description="#[payload.description]"
                                    isSetScheduled="#[payload.isSetScheduled]" cronSchedule="#[payload.cronSchedule]"/>
    </flow>
    <flow name="testGetSavedSearchHistory">
        <splunk:get-saved-search-history searchName="#[payload.searchName]"/>
    </flow>
    <flow name="testRunSavedSearch">
        <splunk:run-saved-search searchName="#[payload.searchName]"/>
    </flow>

    <flow name="testRunSavedSearchWithArgument">
        <splunk:run-saved-search-with-arguments searchName="#[payload.searchName]" searchQuery="#[payload.searchQuery]">
            <splunk:custom-args ref="#[payload.customArgs]" />
            <splunk:search-dispatch-args ref="#[payload.searchDispatchArgs]" />
        </splunk:run-saved-search-with-arguments>
    </flow>
    <flow name="testDeleteSavedSearch">
        <splunk:delete-saved-search  searchName="#[payload.searchName]" />
    </flow>
    <flow name="testRunRealtimeSearch">
        <splunk:run-realtime-search searchQuery="#[payload.searchQuery]">
            <splunk:job-args ref="#[payload.jobArgs]"/>
            <splunk:preview-args ref="#[payload.previewArgs]"/>
        </splunk:run-realtime-search>
    </flow>
    <flow name="testRunExportSearch">
        <splunk:run-export-search searchQuery="#[payload.searchQuery]">
            <splunk:export-args ref="#[payload.exportArgs]" />
        </splunk:run-export-search>
    </flow>

</mule>
